@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Roboto:ital,wght@1,700&display=swap');

.card-header{
    color:white; 
    font-family:'Roboto';
}
.container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.card2{
    margin-right: 5%;
}
.social i{
    color: white;
    font-size: 20px;
}
.footer-section{
    margin-top: 10%;
    color: white;
    font-family: 'Open Sans';
}
